* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --main-spacing: 20px;
    --font-heading: 'Helvetica', sans-serif;
    --main-font-color: #dad7cd;
    --list-items-color: #edeeec;
    --main-text-size:  .80em;
    --secondery-text-size: 1.7em;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -11111;
    object-fit: cover;
    filter: brightness(90%) contrast(80%) blur(10px);
}


.nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 95vw;
    max-width: 400px;
    margin-top: 1em;
    transition: transform 0.2s ease;
}

.nav-history-button{
    margin-left: auto;
    background: rgba(114, 112, 112, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.959);
    width: 64px;
    height: 64px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--main-font-color);
    transition: transform 0.2s ease;
    cursor: pointer;

}

.button-icon {
    width: 28px;
    height: 28px;
    display: block;
    filter: invert(92%) sepia(9%) saturate(205%) hue-rotate(33deg) brightness(97%) contrast(93%);
    pointer-events: none;
}

.nav-user-greeting {
    font-family:fantasy;
    color: white;
    font-size: 1.9em;
}

.hero-container {
    text-align: center;
    width: 95vw;
    font-size: .80em;
    margin-top: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--main-font-color);
    background: rgba(114, 112, 112, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.959);
    padding: 20px;
    max-width: 400px;
    color: var(--main-font-color);
    transition: transform 0.2s ease;
}

.nav-container :hover {
    transform: scale(1.05);
}
.hero-container:hover{
    transform: scale(1.05);
}
.main-list:hover{
     transform: scale(1.05);
}

.hero-text {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    letter-spacing: .8px;
    -webkit-font-smoothing: antialiased;
}

.main-list { 
    color: var(--list-items-color);
    width: 80vw;
    font-size: .80em;
    margin-top: 4em;
    font-family:'Times New Roman', Times, serif;
    color:var(--list-items-color);
    background: rgba(114, 112, 112, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.959);
    max-width: 400px;
    transition: transform 0.2s ease;
}

.add-task-button {
    margin-top: 3em;
    background: rgba(114, 112, 112, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.959);
    width: 64px;
    height: 64px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.add-task-button:hover {
    transform: scale(1.05);
}

 
.main-list-item {
    margin: 1em;
    line-height: 1.6;
    letter-spacing: .8px;
    font-size: var(--secondery-text-size);
    font-family:monospace;
}





/*for tablet an PC
/* @media (min-width: 768px) {
  .container { width: 750px; }
} */
